<div class="swiper-container" data-controller="play-quiz" data-carousel-options-value='{"direction": "horizontal"}' data-play-quiz-questions-ids-value='<%= @questions.map(&:id).to_json %>'>
  <div class="swiper-wrapper" >
    <% @questions.each do |question| %>
      <div class="swiper-slide">
        <%= question.content %>
        <div class="justify-content-space-between d-flex">
          <div data-action="click->play-quiz#advance">
            <input class="favorite styled choice-one" type="button" value="<%= question.choice_one %>" />
          </div>
          <div data-action="click->play-quiz#advance">
            <input class="favorite styled choice-two" type="button" value="<%= question.choice_two %>" />
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div>
<%# Here we need a form with a target so that we can pass the userPicks
to the form as values (hidden) or whatever from the js-controller %>

  </div>
</div>

<%# button-prev - styles for prev Navigation button <div class="swiper-button-prev">
button-next - styles for next Navigation button <div class="swiper-button-next"> %>
