<div  class="swiper-container" data-controller="play-quiz" data-carousel-options-value='{"direction": "horizontal"}'>
  <div class="swiper-wrapper" >
    <% @questions.each do |question| %>
      <div class="swiper-slide">
        <%= question.content %>
        <div class="justify-content-between d-flex">
          <div data-action="click->play-quiz#advance">
            <%= question.choice_one %>
          </div>
          <div data-action="click->play-quiz#advance">
            <%= question.choice_two %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# button-prev - styles for prev Navigation button <div class="swiper-button-prev">
button-next - styles for next Navigation button <div class="swiper-button-next"> %>
