$accent: #090420;
$secondary: #F89C5B;

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: $accent;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
