.btn-gradient {
  color: rgb(223, 209, 209);
  padding: 8px 24px;
  border-radius: 40px;
  font-weight: bold;
  background-color: $secondary;
  transition: 0.3s ease;
  border: 1px solid $secondary;
  transition: 0.5s;
}

.btn-gradient:hover{
  background: linear-gradient(#d6ce93);
  color: rgb(152, 143, 152);
  box-shadow: 4px 1px 15px 2px rgba(0,0,0,0.5);
}

.btn-accent {
  color: $accent;
  padding: 8px 24px;
  border-radius: 40px;
  font-weight: bold;
  transition: 0.3s ease;
  border: 1px solid $accent;
}
