$accent: #090420;
$secondary: #F89C5B;

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 40px;
  font-weight: bold;
  background-color: $secondary;
  transition: 0.3s ease;
  border: 1px solid $secondary;
}

.btn-gradient:hover {
  background: linear-gradient(#d6ce93);
  color: white;
}
