$primary: #EDEAEA;
$secondary: #F89C5B;
$accent: #090420;

.navbar-team {
  justify-content: space-between;
  background: $accent;
}

.navbar-brand img {
  width: 40px;
}

.navbar-team .navbar-collapse {
  flex-grow: 0;
}

.container-fluid {
  background-color: $accent;
}

.navbar-nav .nav-link {
  color: #EDEAEA;
}

.navbar-brand img {
  width: 60px;
}

#navbarDropdown{
  width: 40px;
  height: 40px;
}
