.navbar-team {
  justify-content: space-between;
  background: white;
}

.navbar-team .navbar-brand img {
  width: 40px;

}

// .navbar-team .navbar-collapse {
//   flex-grow: 0;
// }

.container-fluid {
  background-color:#e5e9f1;
}
